<% layout("/layouts/boilerplate") -%>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add a suitable title for your place"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            Title Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required></textarea>
          <div class="invalid-feedback">
            Please enter a short description
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1400"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Price should be valid
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Country Name should be valid
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Jalandhar,Punjab"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Location should be valid
          </div>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" name="listing[category]">
            <option selected disabled>Choose a Category</option>
            <option value="river">River</option>
            <option value="iconic-cities">Iconic Cities</option>
            <option value="mountains">Mountains</option>
            <option value="castles"> Castles</option>
            <option value="amazing-pools" > Amazing Pools</option>
            <option value="camping">Camping</option>
            <option value="farms" > Farms</option>
            <option value="arctic">Arctic</option>
            <option value="beach">Beach</option>
            <option value="lake">lake</option>
          </select>
        </div>

        <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
        
      </form>
    </div>
  </div>
</body>
